 :root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White:hsl(0, 0%, 100%);
}
body{
    font-family: 'Cabin', sans-serif;
    margin: 0%;
}
.background{
    display: flex;
    width: 1440px;
    height:840px;
    background-color: var(--Very-dark-blue-mainBG);
    justify-content: center;
    align-items:center;
}
.box{
    width: 250px;
    height: 440px;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 10px;
}
.img-nft{
    display: flex;
    width: 250px;
    height: 255px;
    justify-content: center;
    align-items: center;

}

.img-nft > img{
     display: flex;
     width: 220px;
     height: 230px;
     border-radius: 5px;
}


.name-nft> p{
    color:var(--White);
    text-indent: 17px;
    font-weight: 700px;
    margin: 0px;
}

.description{ 
    width: 250px;
    display: flex;
    justify-items: center;
}

.description >p{
    display: flex;
    color:var(--Soft-blue);
    font-size: 14px;
    margin-left: 18px;
    margin-right: 1px;
    line-height: 150%;
}

.eth-logo{
    width:12px;
    height:18px;
    margin: 0px;
   

}

.price-nft >p{
    color: var(--Cyan);
    font-size: 13px;
    width: 80px;
    margin: 0px;
    margin-left: 20px;
  
}
.clock{
    width:15px; 
    height:16px;
    margin-right: 5px;
}
.time-left{
    display: flex;
    justify-content: end;
    color:var(--Soft-blue);   
    font-size: 13px;
    margin-left: 48px;
    margin-top: 10px;
    width: 90px;
} 

.text-box{
    display: flex;
    justify-content: baseline;
    
}
.line {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.line > div{
    border-top: 1px solid var(--Very-dark-blue-line);
    width: 210px;
    height:2px;
}


.img-avatar{
width:20px;
height: 20px;
display: flex;
justify-content:center ;
align-items: center; 

}

.img-avatar > img {
    width: 19px;
    height: 19px;
    display: flex;
    justify-content:center ;
    align-items: center; 

}

.img-background{
    width: 21px;
    height: 20px;
    background-color: var(--White);
    border-radius: 50px;
    margin-left:  21px;
    display: flex;
    justify-content:center ;
    align-items: center; 
    
}


